<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="owin:AutomaticAppStartup" value="true"/>
    <add key="owin:appStartup" value="DefaultOwin.Startup"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
          </dependentAssembly>
        </assemblyBinding>
        <!--
        <dependentAssembly>
        <assemblyIdentity name="System.Xml.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
        </dependentAssembly>

        <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
        </dependentAssembly>

        <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
        </dependentAssembly>

        <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
        </dependentAssembly> 
        <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
        </dependentAssembly>
        -->
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <remove name="OwinAuthModule"/>
      <remove name="ASPxHttpHandlerModule"/>
    </modules>
  </system.webServer>
  <system.web>
    <globalization culture="" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture=""/>
    <httpRuntime targetFramework="4.6" maxRequestLength="4096" executionTimeout="110"
           requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;,*"/>
           
    <trace enabled="true" traceMode="SortByTime" mostRecent="true" localOnly="false"/>
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
        <!--
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        -->
      <mimeMap fileExtension=".mustache" mimeType="text/template"/>
      <mimeMap fileExtension=".tmpl" mimeType="text/template"/>
    </staticContent>

  </system.webServer>
  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>
</configuration>
